:root {
    --MYTHEME-bg-color: rgba(202,235,241, 1);
    --MYTHEME-text-color: rgba(0,83,90, 1);
    --MYTHEME-text-soft-color: rgba(0,98,107, 1);
    --MYTHEME-text-strong-color: rgba(0,83,90, 1);
    --MYTHEME-subtle-color: rgba(214,240,244, 1);
    --MYTHEME-border-color: rgba(43,191,207, 1);
    --MYTHEME-shadow-color: rgba(42,187,202, 1);
    --MYTHEME-input-color: rgba(255,255,255, 1);
    --MYTHEME-outline-color: rgba(14,185,201, 1);
    --MYTHEME-mark-color: rgba(0,83,90, 0.08);
    --MYTHEME-special-color: rgba(0,83,90, 1);
    --MYTHEME-special-bg-color: rgba(0,98,107, 1);
    --MYTHEME-special-text-color: rgba(255,255,255, 1);
    --MYTHEME-special-shadow-color: rgba(6,55,60, 1);
    --MYTHEME-special-mark-color: rgba(255,255,255, 0.08);
    --MYTHEME-light-color: rgba(218,249,255, 1);
    --MYTHEME-dark-color: rgba(12,78,85, 1);
    --MYTHEME-text-color-rgb: 0,83,90;
    --MYTHEME-bg-color-rgb: 202,235,241;
    --MYTHEME-subtle-color-rgb: 214,240,244;
    --MYTHEME-special-color-rgb: 0,83,90;
    --MYTHEME-special-text-color-rgb: 255,255,255;
    --MYTHEME-special-bg-color-rgb: 0,98,107;
    --MYTHEME-shadow-color-rgb: 42,187,202;
    --MYTHEME-special-shadow-color-rgb: 6,55,60;
    --MYTHEME-outline-color-rgb: 14,185,201;
    --MYTHEME-dark-color-rgb: 12,78,85;
    --MYTHEME-light-color-rgb: 218,249,255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --MYTHEME-bg-color: rgba(6,52,57, 1);
      --MYTHEME-text-color: rgba(18,206,224, 1);
      --MYTHEME-text-soft-color: rgba(14,185,201, 1);
      --MYTHEME-text-strong-color: rgba(18,206,224, 1);
      --MYTHEME-subtle-color: rgba(5,48,52, 1);
      --MYTHEME-border-color: rgba(18,99,108, 1);
      --MYTHEME-shadow-color: rgba(0,0,0, 1);
      --MYTHEME-input-color: rgba(32,32,32, 1);
      --MYTHEME-outline-color: rgba(17,158,171, 1);
      --MYTHEME-mark-color: rgba(18,206,224, 0.08);
      --MYTHEME-special-color: rgba(18,206,224, 1);
      --MYTHEME-special-bg-color: rgba(2,78,86, 1);
      --MYTHEME-special-text-color: rgba(205,227,231, 1);
      --MYTHEME-special-shadow-color: rgba(0,0,0, 1);
      --MYTHEME-special-mark-color: rgba(205,227,231, 0.08);
      --MYTHEME-light-color: rgba(21,233,253, 1);
      --MYTHEME-dark-color: rgba(7,59,64, 1);
      --MYTHEME-text-color-rgb: 18,206,224;
      --MYTHEME-bg-color-rgb: 6,52,57;
      --MYTHEME-subtle-color-rgb: 5,48,52;
      --MYTHEME-special-color-rgb: 18,206,224;
      --MYTHEME-special-text-color-rgb: 205,227,231;
      --MYTHEME-special-bg-color-rgb: 2,78,86;
      --MYTHEME-shadow-color-rgb: 0,0,0;
      --MYTHEME-special-shadow-color-rgb: 0,0,0;
      --MYTHEME-outline-color-rgb: 17,158,171;
      --MYTHEME-dark-color-rgb: 7,59,64;
      --MYTHEME-light-color-rgb: 21,233,253;
    }
  }
  
  @media (prefers-color-scheme: light) and (prefers-contrast: more) {
    :root {
      --MYTHEME-bg-color: rgba(202,235,241, 1);
      --MYTHEME-text-color: rgba(0,69,76, 1);
      --MYTHEME-text-soft-color: rgba(0,69,76, 1);
      --MYTHEME-text-strong-color: rgba(0,83,90, 1);
      --MYTHEME-subtle-color: rgba(214,240,244, 1);
      --MYTHEME-border-color: rgba(25,125,135, 1);
      --MYTHEME-shadow-color: rgba(32,152,165, 1);
      --MYTHEME-input-color: rgba(255,255,255, 1);
      --MYTHEME-outline-color: rgba(13,178,193, 1);
      --MYTHEME-mark-color: rgba(0,69,76, 0.16);
      --MYTHEME-special-color: rgba(0,69,76, 1);
      --MYTHEME-special-bg-color: rgba(0,85,93, 1);
      --MYTHEME-special-text-color: rgba(255,255,255, 1);
      --MYTHEME-special-shadow-color: rgba(0,0,0, 1);
      --MYTHEME-special-mark-color: rgba(255,255,255, 0.16);
      --MYTHEME-light-color: rgba(218,249,255, 1);
      --MYTHEME-dark-color: rgba(12,78,85, 1);
      --MYTHEME-text-color-rgb: 0,69,76;
      --MYTHEME-bg-color-rgb: 202,235,241;
      --MYTHEME-subtle-color-rgb: 214,240,244;
      --MYTHEME-special-color-rgb: 0,69,76;
      --MYTHEME-special-text-color-rgb: 255,255,255;
      --MYTHEME-special-bg-color-rgb: 0,85,93;
      --MYTHEME-shadow-color-rgb: 32,152,165;
      --MYTHEME-special-shadow-color-rgb: 0,0,0;
      --MYTHEME-outline-color-rgb: 13,178,193;
      --MYTHEME-dark-color-rgb: 12,78,85;
      --MYTHEME-light-color-rgb: 218,249,255;
    }
  }
  
  @media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
      --MYTHEME-bg-color: rgba(6,52,57, 1);
      --MYTHEME-text-color: rgba(20,227,246, 1);
      --MYTHEME-text-soft-color: rgba(20,227,246, 1);
      --MYTHEME-text-strong-color: rgba(18,206,224, 1);
      --MYTHEME-subtle-color: rgba(5,48,52, 1);
      --MYTHEME-border-color: rgba(35,164,177, 1);
      --MYTHEME-shadow-color: rgba(0,0,0, 1);
      --MYTHEME-input-color: rgba(32,32,32, 1);
      --MYTHEME-outline-color: rgba(19,164,178, 1);
      --MYTHEME-mark-color: rgba(20,227,246, 0.16);
      --MYTHEME-special-color: rgba(20,227,246, 1);
      --MYTHEME-special-bg-color: rgba(2,75,82, 1);
      --MYTHEME-special-text-color: rgba(231,241,243, 1);
      --MYTHEME-special-shadow-color: rgba(0,0,0, 1);
      --MYTHEME-special-mark-color: rgba(231,241,243, 0.16);
      --MYTHEME-light-color: rgba(155,242,255, 1);
      --MYTHEME-dark-color: rgba(7,59,64, 1);
      --MYTHEME-text-color-rgb: 20,227,246;
      --MYTHEME-bg-color-rgb: 6,52,57;
      --MYTHEME-subtle-color-rgb: 5,48,52;
      --MYTHEME-special-color-rgb: 20,227,246;
      --MYTHEME-special-text-color-rgb: 231,241,243;
      --MYTHEME-special-bg-color-rgb: 2,75,82;
      --MYTHEME-shadow-color-rgb: 0,0,0;
      --MYTHEME-special-shadow-color-rgb: 0,0,0;
      --MYTHEME-outline-color-rgb: 19,164,178;
      --MYTHEME-dark-color-rgb: 7,59,64;
      --MYTHEME-light-color-rgb: 155,242,255;
    }
  }